@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  --color: #ffd700;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-list-container {
  width: 100%;
  max-width: 438px;
  min-height: 653px;
  margin: 0px auto;
  padding: 40px 20px 70px;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.shape-container {
  width: 100%;
  max-width: 438px;
  min-height: 653px;
  position: absolute;
}

.shape1 {
  width: 180px;
  height: 180px;
  background-color: #ffecf5;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -70px;
  filter: blur(90px);
}

.shape2 {
  width: 130px;
  height: 130px;
  background-color: #8600ff;
  border-radius: 50%;
  position: absolute;
  bottom: -22px;
  left:-12px;
  filter: blur(80px);
}

.shape3 {
  width: 228px;
  height: 228px;
  background-color: #ffc285;
  border-radius: 50%;
  position: absolute;
  bottom: -60px;
  left: 100px;
  filter:blur(90px);
}

.shape4 {
  width: 125px;
  height: 125px;
  background-color: #f00;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  right: -70px;
  filter: blur(90px);
}

.shop-list-container h1 {
  font-size: 45px;
  color: white;
  letter-spacing: 3px;
  z-index: 100;
}

.input-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  z-index: 100;
}

.input-container input {
  background-color: rgba(240, 240, 240, 0.6);
  backdrop-filter: blur(5px);
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  color: #212121;
}

.input-container input,
.input-container button {
  height: 35px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container input[type="text"] {
  /* max-width: 100%; */
  flex-grow: 1;
}

@media (max-width: 425px) {
  
  .input-container input[type="text"] {
    /* flex-shrink: 2; */
    max-width: 100px;
  }
}


.input-container input[type="text"]::placeholder,
.input-container input[type="number"]::placeholder {
  font-size: 1rem;
  font-weight: 300;
  color: #212121;
}

.input-container input[type="number"] {
  width: 3rem;
  text-align: center;
}

.input-container button {
  background-color: transparent;
  width: 4rem;
  min-width: 3rem;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.input-container button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.input-container button:hover {
  color: rgb(21, 21, 21);
}

.input-container button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.input-container button:hover::before {
  top: -30px;
  left: -30px;
}

/* List style */
#list-container {
  width: 100%;
  z-index: 100;
  height: 410px;
  overflow-y: auto;
  padding-right: 15px;
}

#list-container li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* border: 1px solid black; */
  border-bottom: 2px solid var(--color);
  padding: 10px 4px;
}

::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar */
  margin-left: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #555; /* Warna latar belakang scrollbar */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color); /* Warna thumb (bagian yang dapat digerakkan) */
}
/* .list-container li.checked {
  text-decoration: line-through;
  opacity: 0.5;
} */

.total-items {
  background-color: var(--color);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 15px;
}

.name-items {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.icon-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s all;
}

.icon-container:hover {
  background-color: var(--color);
}

.icon-container svg {
  width: 10px;
  fill: var(--color);
  transition: 0.6s all;
  z-index: 100;
}

.icon-container:hover svg {
  width: 10px;
  fill: #212121;
}
